

.posters{
    padding-bottom: 1vh;
    justify-content: space-between;
    display: flex;
    overflow-y: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-padding: 10vh;
    object-fit: contain;
    width: 100%;
}

.row > h2{
    padding-top: 2vh;
    padding-left: 2vh;
    color: aliceblue;
}

.row_poster{
    padding: 20px;
    height: 50vh;
    width: 45vw;
    transition: transform 450ms;
}

.posters::-webkit-scrollbar{
    display: none;
}

.row_poster_small{
    padding: 20px;
    /* height: 42vh; */
    width: 11vw;
    transition: transform 450ms;
}


.row{
    color: white;
    padding-left: 3vh;
}

.row_poster:hover{
    transform: scale(1.04);
    opacity: 1;
}

.row_poster_small:hover{
    transform: scale(1.04);
    opacity: 1;
}


.info{
    padding: 1vh;
    /* border: 1px solid snow; */
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 6vh;
    line-height: 4vh;
}

.info > p{
    width: 80%;
    padding-bottom: 3vh;
}

.info > button{
    background-color: rgba(57, 57, 57, 0.5);
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    border-radius: 0.25vw;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-right: 1rem;
    padding-top: 1vh;
    font-size: 3vh;
    width: 7vw;
    padding-bottom: 1vh;
}

.movie_info{
    justify-content: space-around;
    margin-left: -3vh;
    height:"30vh";
    background-color:"red"; 
    width:"100%";
    display: flex;
}

.row_info_image{
    margin-left: -20vw;
    height: 40vh;
}

.info > h5{
    padding-bottom: 2.5vh;
    font-size: 1.5rem;
}


@media only screen and (max-width: 290px){
    .row_poster{
        padding: 20px;
        height: 29vh;
        width: 34vw;
        transition: transform 450ms;
    }
    /* .row_poster_small{
        padding: 20px;
        height: 10vh;
        width: 200vw;
        transition: transform 450ms;
    } */
    
}


@media only screen and (max-width: 440px){
    .row_poster{
        padding: 20px;
        height: 30vh;
        width: 35vw;
        transition: transform 450ms;
    }
    .row_poster_small{
        padding: 20px;
        height: 25vh;
        width: 31vw;
        transition: transform 450ms;
    }
}


@media only screen and (max-width: 768px){
    .row_poster{
        padding: 20px;
        height: 27vh;
        width: 40vw;
        transition: transform 450ms;
    }
    .row_poster_small{
        padding: 20px;
        height: 25vh; 
        width: 34vw;
        transition: transform 450ms;
    }
}


@media only screen and (min-width: 768px){
    .row_poster{
        padding: 20px;
        height: 37vw;
        width: 37vw;
        transition: transform 450ms;
    }
    .row_poster_small{
        padding: 20px;
        height: 22vh;
        width: 24vw;
        transition: transform 450ms;
    }
}


@media only screen and (min-width: 872px){
    .row_poster{
        padding: 20px;
        height: 48vh;
        width: 37vw;
        transition: transform 450ms;
    }
    .row_poster_small{
        padding: 20px;
        height: 38vh;
        width: 24vw;
        transition: transform 450ms;
    }
}



@media only screen and (min-width: 1000px){
    .row_poster{
        padding: 20px;
        height: 40vh;
        width: 37vw;
        transition: transform 450ms;
    }
    .row_poster_small{
        padding: 20px;
        height: 33.5vh;
        width: 28vw;
        transition: transform 450ms;
    }
}