

.content_of_step2{
    width: 97.5%;
    /* margin: 1vh 10vw; */
    justify-content: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 3;
    align-items: center;
}

.content_of_step2 > h3{
    font-size: large;
    padding: 3vh 0;
}

.content_data__step2 {
    padding: 1vh 1vw;
    width: 31vw;
    display: flex;
    margin-left: 5vw;
    align-items: center;
}


.content_data__step2 > h4{
    padding-left: 1vw;
    font-weight:100;
}

.plan_main{
    margin-left: 29.7vw;
    display: flex;
    align-items: center;
}

.plan_div{
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    opacity: 0.7;
    text-align: center;
    margin: 0 1vw;
    height: 22vh;
    width: 10vw;
    background-color: #eb0606;
}

.data_click{
    align-self: center;
    height: 100%;
    /* background-color: aqua; */
    width: 100%;
}

.active{
    opacity: 1;
}


.price{
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
}

.plan_div1{
    justify-content: center;
    display: flex;
    align-items: center;
    opacity: 0.7;
    text-align: center;
    margin: 0 1vw;
    height: 22vh;
    width: 10vw;
    background-color: #eb0606;
}

.ab{
    font-size: 1.5rem;
    justify-content: space-evenly;
    text-indent: initial;
    display: flex;
    border-bottom: 1px solid #ccc;
    min-height: 60px;
    align-items: center;
}

.plans_div{
    margin-left: 10%;
    width: 80%;
}


.extra__step2{
    padding: 5vh;
    font-size:small;
    width: 80%;
}


.extra__step2 > p{
    padding-bottom: 4vh;
}
