

.content_of_step2{
    width: 97.5%;
    /* margin: 1vh 10vw; */
    justify-content: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 3;
    align-items: center;
}

.content_of_step2 > h3{
    font-size: large;
    padding: 3vh 0;
}

.content_data__step2 {
    padding: 1vh 1vw;
    width: 31vw;
    display: flex;
    margin-left: 5vw;
    align-items: center;
}


.content_data__step2 > h4{
    padding-left: 1vw;
    font-weight:100;
}

.plan_main{
    margin-left: 40vw;
    display: flex;
    align-items: center;
}

.plan_div{
    justify-content: center;
    display: flex;
    align-items: center;
    opacity: 0.7;
    text-align: center;
    margin: 0 1vw;
    height: 22vh;
    width: 10vw;
    background-color: #eb0606;
}

.data_click{
    align-self: center;
    height: 100%;
    /* background-color: aqua; */
    width: 100%;
}

.active{
    opacity: 1;
}
