

.content_of_step2{
    width: 97.5%;
    /* margin: 1vh 10vw; */
    justify-content: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 3;
    align-items: center;
}

.content_of_step2 > h3{
    font-size: large;
    padding: 3vh 0;
}

.content_data__step2 {
    padding: 1vh 1vw;
    width: 31vw;
    display: flex;
    margin-left: 5vw;
    align-items: center;
}


.content_data__step2 > h4{
    padding-left: 1vw;
    font-weight:100;
}

.plan_main{
    margin-left: 29.7vw;
    display: flex;
    align-items: center;
}

.plan_div{
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center;
    opacity: 0.5;
    text-align: center;
    margin: 0 1vw;
    height: 22vh;
    width: 10vw;
    background-color: #eb0606;
}

.data_click{
    align-self: center;
    height: 100%;
    /* background-color: aqua; */
    width: 100%;
}

.active{
    opacity: 1;
}


.price{
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
}

.plan_div1{
    justify-content: center;
    display: flex;
    align-items: center;
    opacity: 0.7;
    text-align: center;
    margin: 0 1vw;
    height: 22vh;
    width: 10vw;
    background-color: #eb0606;
}

.ab{
    font-size: 1.2rem;
    justify-content: space-evenly;
    text-indent: initial;
    display: flex;
    border-bottom: 1px solid #ccc;
    min-height: 60px;
    align-items: center;
}

.plans_div{
    margin-left: 10%;
    width: 80%;
}

#res {
    flex: 1 1;
    display: flex;
    font-weight: lighter;
    justify-content: space-evenly;
    margin-left: 1vw;
}

.extra__step2{
    padding: 5vh;
    font-size:small;
    width: 80%;
}

.table_price{
    display: flex;
}


.price_table_data{
    flex: 1;
    display: flex;
    font-weight: lighter;
    justify-content: space-evenly;
    margin-left: -1vw;
    /* style={{marginLeft:"2vw"}} */
}

.active_data{
    color: red;
}
.type_table{
    flex:0.50;
}



.footer_step2{
    border-top: 1px solid #dadada;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    position: absolute;
    top:170vh;
    height: 50vh;
    color: #757575;
    width: 100%;
    background: #f3f3f3;;
}


.extra__step2 > p{
    padding-bottom: 4vh;
}

/* style={{width:"60vw",display:"flex",justifyContent:"center"}} */


@media only screen and (max-width: 440px){
    .content_data__step2 {
        padding: 1vh 1vw;
        width: 90%;
        display: flex;
        margin-left: 5vw;
        align-items: center;
    }
    .plan_main {
        margin-left: -34px;
        display: flex;
        align-items: center;
    }
    .plan_div {
        cursor: pointer;
        justify-content: center;
        display: flex;
        align-items: center;
        opacity: 0.7;
        text-align: center;
        margin: 0px 1vh;
        width: 12%;
        height: 10vh;
        max-width: 43vw !important;
        padding: 0 3vh;
        background-color: #eb0606;
    }   
    .type_table{
        margin-left: 10vw;
        width: 100%;
        /* display: flex;
        justify-content: center; */
    }
    .table_price{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .price_table_data {
        justify-content: space-between;
        width: 150%;
        margin-left: -62px;
    }
    .ab{
        font-size: 1.2rem;
        margin-left: 5vw;
    }
    #res {
        flex: 1 1;
        display: flex;
        font-weight: lighter;
        justify-content: space-between;
        width: 152%;
        margin-left: -16vw;
    }
    .extra__step2 > p {
        padding-bottom: 3vh;
        width: 143%;
        margin-left: -16vw;
    }

.footer_step2{
    border-top: 1px solid #dadada;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    position: absolute;
    top:150vh;
    height: 50vh;
    color: #757575;
    width: 105%;
    background: #f3f3f3;;
}


}

.footer_step2 > h4{
    margin-left: 5vw;
}

@media only screen and (max-width: 768px){
    .f_content__1 {
        flex-direction: column;
        display: flex;
        list-style: none;
        justify-content: space-between;
        margin-bottom: 4vh;
    }
    .f_content1__1 {
        flex-direction: column;
        display: flex;
        list-style: none;
        justify-content: flex-start;
        margin-bottom: 4vh;
    }
    ul > li{
        margin-bottom: 2vh;
    }
    .content_data {
        padding: 3vh 1vw;
        width: 72%;
        display: flex;
        align-items: center;
    }
    .content_of_step1 {
        width: 80%;
        margin: 0;
        height: 50vh;
        display: flex;
        flex-direction: column;
        padding: 5vh;
        align-items: center;
    }
    .to_step_2{
        margin-top: 4vh;
        height: 9vh;
        width: 56vw;
        background-color: #e50914;
        outline: none;
        color: #fff;
        font-size: 1.5rem;
        border-radius: 1vh;
        border: none;
    }
}


/* 
style={{width:"16vw"}}
style={{width:"15vw"}}
style={{width:"14vw"}}
style={{width:"11vw"}} */